# applcation configurations
APP_NAME="Express API"
APP_MODE="development"
APP_PORT=3000
APP_URL="http://localhost"
SECRET_KEY=""

# database SQL configurations
DB_HOST="localhost"
DB_USER="root",
DB_PASSWORD="",
DB_NAME="express_api"