# applcation configurations
APP_NAME="Express API"
APP_MODE="development"
APP_PORT=3000
APP_URL="http://localhost"
SECRET_KEY="h1ro-m0bil3jensz"

# database SQL configurations
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="express_api"
WAIT_CONNECTION=true
CONNECTION_LIMIT=10
QUEUE_LIMIT=10
KEEP_ALIVE=true
INITIAL_DELAY=0

# CORS configurations
CORS_OROGIN="http://localhost:8181/"
CORS_CREDENTIALS=true